body {
    background-color: #fafafa;
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 50%;
    margin-left: 30%;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 50px;
  }
  
  input {
    display: block;
    margin: 10;
    padding: 10;
    width: 90%;
  }
  
  button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  